body, html {
  height: 100%;
}
.bg {
  background-image: url("images/dry-ridge-moving-home-hero.png");
  height: 100%;
  width: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid{
  
}
